#about { 
    background: linear-gradient(rgba(255,255,255,.9), rgba(255,255,255,.9));
}

#amenities{
    background-image: url('../../images/boxes.png');
    /* background-attachment: fixed; */
    background-size: 50%;
    background-repeat: no-repeat;
    background-position: center;
    z-index: 6;
    height: 40vh;
}


@media only screen and (max-width: 600px){
    #boothProps{
        height: 100%;
        width: 100%;
    }
    #amenities{
        background-image: url('../../images/boxes.png');
        /* background-attachment: fixed; */
        background-size: 100%;
        background-repeat: no-repeat;
        background-position: center;
        z-index: 6;
        height: 25vh;
    }
}

