#price { 
    /* background: linear-gradient(rgba(52,58,64,1), rgba(52,58,64,1)); */
    background: linear-gradient(rgba(255,255,255,1), rgba(255,255,255,1));
    color: '#606060'
}

#package1{
    background-color: rgb(168, 213, 222);
}

#price1{
    background-color: rgb(185, 221, 229);
}

#package2{
    background-color: rgb(120, 178, 190);
}

#price2{
    background-color: rgb(148, 193, 203);
}

#package3{
    background-color: rgb(42, 138, 157);
}

#price3{
    background-color: rgb(86, 161, 177);
}

#package4{
    background-color: rgb(27, 92, 105);
}

#price4{
    background-color: rgb(74, 125, 135);
}

@media only screen and (max-width: 480px) {
    #price, #priceCol {
        margin: 0 0 !important;
    }
}