#home {
  z-index: '-1';
  height: 100vh;
}

#arrow {
  height: 10vh;
}

#imgID {
  z-index: '-1'; 
  height: '30%'; 
  width: '30%';
}

@media only screen and (max-width: 600px){
    #home{
      height: 89vh !important;
    }

    #imgID{
      height: '40%' ;
      width: '40%' ;
      padding-top: 150px !important;
    }
}