#gallery {
    /* background-color: white; */
    /* background: linear-gradient(rbga(255,255,255,1), rbga(52,58,64,1)) !important; */
}

#carousel {
    height: 80vh;
    margin-top: 5%;
}

#items {
    position: center center;
}

@media only screen and (max-width: 600px) {
    #carousel {
        height: 53vh;
        margin: 0 0 !important;
        margin-top: 10% !important;
    }
}